.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid black;
  border-radius: 25px;
  padding: 24px;
  .cardBody {
    text-align: left;
  }
}
